In [1]:
import pandas as pd 
import numpy as np

In [13]:
#Read csv file into dataframe 
df = pd.read_csv('ufo_data/202001.csv')
df

,Date / Time,City,State,Country,Shape,Duration,Summary,Posted,Images
0,1/31/20 21:30,Prospect,OR,USA,Light,30 minute,1.31.2020 Approximately 9:30-10 While driving ...,2/7/20,NaN
1,1/31/20 19:57,Arizona City,AZ,USA,Unknown,2:55,Blinking lights tha pull away and tilt.,5/1/20,NaN
2,1/31/20 19:56,Arizona City,AZ,USA,Unknown,2,Blinking unexplained lights that tilt and move.,2/25/20,NaN
3,1/31/20 19:30,Sevierville,TN,USA,Oval,3-5 minutes,This is twice in one week I've seen this. Roun...,2/7/20,NaN
4,1/31/20 18:45,Cornelius,OR,USA,NaN,NaN,5 bright orange lights traveling in drunken ma...,2/7/20,NaN
...,...,...,...,...,...,...,...,...,...
627,1/1/20 00:00,El Centro,CA,USA,Circle,3 minutes,Red orb floats slowly changing direction then ...,1/31/20,NaN
628,1/1/20 00:00,Bakersfield,CA,USA,Circle,5 minutes,Bakersfield CA New Years Eve at midnight. Thr...,2/7/20,NaN
629,1/1/20 00:00,Brick,NJ,USA,Circle,2 minutes,Large orange glowing ball floating across sky,2/7/20,NaN
630,1/1/20,St. Petersburg,FL,USA,Triangle,3:00,It's too bad I can't tell the full story on he...,2/7/20,NaN
631,1/1/20,San Antonio,TX,USA,Oval,5 minutes,looking at fireworks at midnight we observed 1...,2/7/20,NaN

In [14]:
#drop the column 
to_drop = ['Images','Posted']
df.drop(to_drop, inplace = True, axis = 1)
df.head()

,Date / Time,City,State,Country,Shape,Duration,Summary,Posted
0,1/31/20 21:30,Prospect,OR,USA,Light,30 minute,1.31.2020 Approximately 9:30-10 While driving ...,2/7/20
1,1/31/20 19:57,Arizona City,AZ,USA,Unknown,2:55,Blinking lights tha pull away and tilt.,5/1/20
2,1/31/20 19:56,Arizona City,AZ,USA,Unknown,2,Blinking unexplained lights that tilt and move.,2/25/20
3,1/31/20 19:30,Sevierville,TN,USA,Oval,3-5 minutes,This is twice in one week I've seen this. Roun...,2/7/20
4,1/31/20 18:45,Cornelius,OR,USA,NaN,NaN,5 bright orange lights traveling in drunken ma...,2/7/20

In [17]:
#Group by Country and 
gk = df.groupby(['Country'])['Country'].count()
print(gk)

#There are

Country         State
Canada          AB            6
                BC            7
                MB            1
                NB            1
                ON            6
                QC            1
                SK            1
India           Karnataka     1
USA             AK            3
                AL            9
                AR           13
                AZ           16
                CA           54
                CO           25
                CT            5
                DE            5
                FL           58
                GA           14
                HI            6
                IA           13
                ID            7
                IL            4
                IN           24
                KS            5
                KY            5
                LA            6
                MA           13
                MD            5
                ME            8
                MI           10
                MN            3
                MO            2
                MS            3
                MT            4
                NC           14
                ND            3
                NE            4
                NH            5
                NJ            7
                NM           11
                NV            9
                NY           25
                OH           24
                OK            6
                OR            9
                PA           16
                RI            3
                SC           11
                SD            3
                TN            8
                TX           48
                UT            6
                VA            9
                VT            1
                WA           20
                WI            7
                WV            3
                WY            3
United Kingdom  YT            1
Name: Country, dtype: int64